<div class="container">
  <div class="content">
    <span class="title">Louis Pierrestiger</span>
    <div class="row">
      <a class="icon-link" target="_blank" href="https://github.com/LTiger14">
        <i class="fab fa-github"></i>
      </a>
      <a class="icon-link" target="_blank" href="https://www.linkedin.com/in/louis-pierrestiger-3b4886a9/">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <span class="subtitle">Web developper living in Montreal</span>
    <span class="subtitle">Creating web magic</span>
  </div>
</div>